nav {
    background-image: url(../Assets/Hero-bg.png);
   height: 700px;
   width: 100%;
   margin-bottom:120px ;
}

.logonav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
a{
    text-decoration: none;
}
li {
    list-style: none;
}
.font-one {
    font-size: 65px;
    }

.banner {
    text-align: center;
    margin: 152px 270px 152px 270px;
}

button{
    color:rgba(255, 255, 255, 1);
    background-color: rgba(78, 71, 255, 1);
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    color: rgb(153, 34, 34);
    background-color: rgb(170, 118, 41);
}
    
.font-r {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;

}
.font-r-lite {
     font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}
 
.font-i {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
}
.font-i-lite {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
    background-color: rgba(214, 221, 237, 1);

}

.s-first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
.imgborder {
    border-radius: 48px;
}

.title-first {
    font-size: 42px;
    font-style: bold;

}
.text-color-a {
    color: rgba(37, 36, 50, 0.35) ;
    font-size: 20px;

}
.section-second {
    background-color: rgba(78, 71, 255, 0.1);
    margin: 140px auto;
    text-align: center;
    width: 50%;
    height: 300px;
    padding: 50px 160px ;
    border-radius: 24px;
    border: none;
    
}
.users {
    display: flex;
   align-items:center;
   justify-content:space-around;
   
   
}
.s-second-f-size {
    font-size: 80px;
    color: rgba(78, 71, 255, 1) ;
}
.section-second-title {
    font-size: 30px;
}
main .section-second p {
    margin: 0px;
}
.info {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.review {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: 0px;

}
.focus {
    text-align: center;
}
.third-title {
    font-size: 50px;

}
.font-color-lite {

    color: rgba(0, 0, 0, 0.5);
}
.img-big {
    margin-top: 20px;
    border: 0px;
    border-radius: 48px;
}
.ands {
    margin: 20px 150px;
    background-color: rgb(252, 252, 252 ,1);
    justify-content: center;
    border-radius: 15px;
    padding: 150px 70px;
    align-items: center;

}
h4, p {
    margin: none
    ;
}
a {
    text-decoration: none;
}
.btn-free {
    color: rgba(255, 255, 255, 1);
}
.form-info {
    display: flex;
    align-items: center;
    margin:90px 120px ;
    justify-content: space-around;
    border-radius: 15px;
}
input {
    display: block ;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 20px 30px;
    width: 500px;
}
textarea {
    width: 500px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 1);
    border: none;
}
.form-title {
    font-size: 100px;
}
.last-btn {
    width: 500px;
    height: 60px;
    margin-top: 10px;
}
footer {
    background-color: rgb(252, 252, 252 ,1);
    width: 100%h;
    height: 420px;
    text-align: center;
    padding: 105px 455px;

}
.foot {
    align-items: center;
}
.clr{
    background-color: rgba(78, 71, 255, 1);
}
.foot-l {
    margin: 10px;
}