nav{
    background-image: url(../Assets/Hero-bg.png);
   height: 700px;
   width: 100%;
   margin-bottom:120px ;
}
.logonav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
li{
    list-style: none;
}
.font-one{
    font-size: 65px;
    }

.banner{
    text-align: center;
    margin: 152px 270px 152px 270px;
}

button{
    color:rgba(255, 255, 255, 1);
    background-color: rgba(78, 71, 255, 1);
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
button:hover{
    color: rgb(38, 185, 75);
    background-color: rgb(39, 138, 177);
}
    
.font-r {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;

}
.font-r-lite{
     font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}
 
.font-i {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
}

.s-first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
.imgborder{
    border-radius: 48px;
}

.title-first{
    font-size: 42px;
    font-style: bold;

}
.text-color-a {
    color: rgba(37, 36, 50, 0.35) ;
    font-size: 20px;

}
.section-second{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 140px auto;
    text-align: center;
    width: 1140px;
    height: 300px;
}
.user-review{
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 160px ;
   
}
  